<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>rcamis</display-name>
  <welcome-file-list>
    <welcome-file>login.php</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateCourse</display-name>
    <servlet-name>CreateCourse</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.CreateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourse</servlet-name>
    <url-pattern>/createcourse.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCourse</display-name>
    <servlet-name>ListCourse</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.ListCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCourse</servlet-name>
    <url-pattern>/listcourse.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/createuser.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUser</display-name>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.ListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/listuser.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMarks</display-name>
    <servlet-name>CreateMarks</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.CreateMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMarks</servlet-name>
    <url-pattern>/createmarks.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMarks</display-name>
    <servlet-name>ListMarks</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.ListMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMarks</servlet-name>
    <url-pattern>/listmarks.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateStudent</display-name>
    <servlet-name>CreateStudent</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.CreateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStudent</servlet-name>
    <url-pattern>/createstudent.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseReportTxt</display-name>
    <servlet-name>CourseReportTxt</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.CourseReportTxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseReportTxt</servlet-name>
    <url-pattern>/coursereportxt.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarksReportTxt</display-name>
    <servlet-name>MarksReportTxt</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.MarksReportTxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarksReportTxt</servlet-name>
    <url-pattern>/marksreporttxt.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentReportTxt</display-name>
    <servlet-name>StudentReportTxt</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.StudentReportTxt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentReportTxt</servlet-name>
    <url-pattern>/studentreporttxt.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentReportPdf</display-name>
    <servlet-name>StudentReportPdf</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.StudentReportPdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentReportPdf</servlet-name>
    <url-pattern>/studentreportpdf.php</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ListStudent</display-name>
    <servlet-name>ListStudent</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.ListStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudent</servlet-name>
    <url-pattern>/liststudents.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateParent</display-name>
    <servlet-name>CreateParent</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.CreateParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateParent</servlet-name>
    <url-pattern>/createparent.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListParent</display-name>
    <servlet-name>ListParent</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.ListParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListParent</servlet-name>
    <url-pattern>/listparents.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmployee</display-name>
    <servlet-name>ListEmployee</servlet-name>
    <servlet-class>rw.ac.rca.webapp.web.ListEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployee</servlet-name>
    <url-pattern>/listemployees.php</url-pattern>
  </servlet-mapping>
</web-app>